<%= partial "sections/head" %>
	<body class="r_<%= page_classes %>">
		<%= partial "sections/header_index" %>
		<div class="grid">
			<section class="r_submod-masthead">
				<h1 class="r_header-left"><a href="/paas/getting-started">Getting Started Guide</a></h1>
				<form class="r_inline-search">
					<div class="r_search-wrapper">
						<label for="globalSearch">Search:</label>
						<input type="text" class="st-default-search-input" name="globalSearch" placeholder="Search all resources...">
						<span><i class="ss-search"></i></span>
					</div>
				</form>
			</section>
			<a href="/paas" class="r_crumb-left">PaaS Resources Home</a>
			<section class="r_guide-section">
				<%= partial "paas/partials/gs_left_nav" %>
				<div class="col-8-12">
					<div class="r_guide-content">
						<article class="r_guide-block">
							<%= yield %>
						</article>
					</div>
				</div>
			</section>
		</div>
		<%= partial "sections/marketing" %>
		<%= partial "sections/footer" %>
	</body>
</html>