<%= partial "sections/head" %>
	<body class="r_<%= page_classes %>">
		<%= partial "sections/header_index" %>
		<div class="grid grid-eight">
			<section class="r_submod-masthead">
				<h1 class="r_header-left"><a href="/baas/api-reference">Redpoint Guide</a></h1>
				<form class="r_inline-search">
					<div class="r_search-wrapper">
						<label for="globalSearch">Search:</label>
						<input type="text" class="st-default-search-input" name="globalSearch" placeholder="Search all resources...">
						<span><i class="ss-search"></i></span>
					</div>
				</form>
			</section>
			<a href="/" class="r_crumb-left">Resources Home</a>
			<div class="redpoint_markdown">
				<%= yield %>
			</div>
		</div>
		<%= partial "sections/marketing" %>
		<%= partial "sections/footer" %>
	</body>
</html>