<div class="col-4-12">
	<nav class="r_guide-nav">
		<h1>Contents:</h1>
		<ul id="nav">
			<li><%= nav_link "Introduction", "/baas/baas-faq/index.html", active_if: %r{^/baas/baas-faq/index.html}%></li>
			<li><%= nav_link "Accounts", "/baas/baas-faq/accounts", active_if: %r{^/baas/baas-faq/accounts}%></li>
			<li><%= nav_link "Billing", "/baas/baas-faq/billing", active_if: %r{^/baas/baas-faq/billing}%></li>
			<li><%= nav_link "Signing Up", "/baas/baas-faq/how-do-i-sign-up", active_if: %r{^/baas/baas-faq/how-do-i-sign-up}%></li>
			<li><%= nav_link "Push Notifications", "/baas/baas-faq/push-notifications", active_if: %r{^/baas/baas-faq/push-notifications}%></li>
			<li><%= nav_link "Registration", "/baas/baas-faq/registration", active_if: %r{^/baas/baas-faq/registration}%></li>
			<li><%= nav_link "SSL Pinning", "/baas/baas-faq/ssl-pinning", active_if: %r{^/baas/baas-faq/ssl-pinning}%></li>
			<li><%= nav_link "Trial", "/baas/baas-faq/trial", active_if: %r{^/baas/baas-faq/trial}%></li>
		</ul>
	</nav>
</div>