		<div class="col-4-12">
			<nav class="r_guide-nav">
				<h1>Contents:</h1>
				<ul>
					<li><%= link_to 'ACLs', '/baas/api-reference/sections/acls' %></li>
					<li><%= link_to 'API Keys', '/baas/api-reference/sections/api-keys' %></li>
					<li><%= link_to 'Application Invites', '/baas/api-reference/sections/application-invites' %></li>
					<li><%= link_to 'Applications', '/baas/api-reference/sections/applications' %></li>
					<li><%= link_to 'Authentication', '/baas/api-reference/sections/authentication' %></li>
					<li><%= link_to 'Custom Classes', '/baas/api-reference/sections/custom-classes' %></li>
					<li><%= link_to 'File Management', '/baas/api-reference/sections/file-management' %></li>
					<li><%= link_to 'Groups', '/baas/api-reference/sections/groups' %></li>
					<li><%= link_to 'Password Reset', '/baas/api-reference/sections/password-reset' %></li>
					<li><%= link_to 'Users', '/baas/api-reference/sections/users' %></li>
				</ul>
			</nav>
		</div>