<div class="col-4-12">
	<nav class="r_guide-nav">
		<h1>Contents:</h1>
		<ul id="nav">
			<li><%= nav_link "Introduction", "/compliance/compliance-faq/index.html", active_if: %r{^/compliance/compliance-faq/index}%></li>
			<li><%= nav_link "Admin Controls", "/compliance/compliance-faq/admin-controls.html", active_if: %r{^/compliance/compliance-faq/admin-controls}%></li>
			<li><%= nav_link "Audits", "/compliance/compliance-faq/audits.html", active_if: %r{^/compliance/compliance-faq/audits}%></li>
			<li><%= nav_link "Catalyze Responsibility", "/compliance/compliance-faq/catalyze-responsibility.html", active_if: %r{^/compliance/compliance-faq/catalyze-responsibility}%></li>
			<li><%= nav_link "Technical Controls", "/compliance/compliance-faq/technical-controls.html", active_if: %r{^/compliance/compliance-faq/technical-controls}%></li>
		</ul>
	</nav>
</div>