<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
		<title><%= current_page.data.title || site_title %></title>
		<meta name="description" content="Catalyze Developer Resources | <%= current_page.data.title %>">
		<meta name="viewport" content="width=device-width">
		<link rel="icon" type="image/png" href="https://catalyze.io/favicon.png">
		<%= stylesheet_link_tag "styles", "syntax", "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" %>
		<!-- Analytics -->
		<%= partial "sections/hotjar" %>
		<%= partial "sections/ga" %>
		<!-- /Analytics -->
		<!-- Search -->
		<script type="text/javascript">
			(function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
			(w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
			e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
			})(window,document,'script','//s.swiftypecdn.com/install/v1/st.js','_st');

			_st('install','NrHLiKXNrFm1TcTUxpyQ');
		</script>
		<!-- /Seach -->
	</head>