<div class="col-4-12">
	<nav class="r_guide-nav">
		<h1>Contents:</h1>
		<ul id="nav">
			<li><%= nav_link "Introduction", "/paas/paas-faq/index.html", active_if: %r{^/paas/paas-faq/index.html}%></li>
			<li><%= nav_link "Application", "/paas/paas-faq/application", active_if: %r{^/paas/paas-faq/application}%></li>
			<li><%= nav_link "Buildpacks", "/paas/paas-faq/buildpacks", active_if: %r{^/paas/paas-faq/buildpacks}%></li>
			<li><%= nav_link "Databases", "/paas/paas-faq/databases", active_if: %r{^/paas/paas-faq/databases}%></li>
			<li><%= nav_link "Local Testing", "/paas/paas-faq/local-testing", active_if: %r{^/paas/paas-faq/databases}%></li>
		</ul>
	</nav>
</div>