<div class="col-4-12">
	<nav class="r_guide-nav">
		<h1>Contents:</h1>
		<ul id="nav">
			<li><%= nav_link "Introduction", "/paas/paas-faq/index.html", active_if: %r{^/paas/paas-faq/index.html}%></li>
			<li><%= nav_link "Application", "/paas/paas-faq/application", active_if: %r{^/paas/paas-faq/application}%></li>
			<li><%= nav_link "Manage Users", "/paas/paas-faq/manage-users", active_if: %r{^/paas/paas-faq/manage-users}%></li>
			<li><%= nav_link "Background Processing", "/paas/paas-faq/background-processing", active_if: %r{^/paas/paas-faq/background-processing}%></li>
			<li><%= nav_link "Metrics", "/paas/paas-faq/environment-metrics", active_if: %r{^/paas/paas-faq/environment-metrics}%></li>
			<li><%= nav_link "Billing", "/paas/paas-faq/billing", active_if: %r{^/paas/paas-faq/billing}%></li>
			<li><%= nav_link "Buildpacks", "/paas/paas-faq/buildpacks", active_if: %r{^/paas/paas-faq/buildpacks}%></li>
			<li><%= nav_link "Contact", "/paas/paas-faq/contact", active_if: %r{^/paas/paas-faq/contact}%></li>
			<li><%= nav_link "Databases", "/paas/paas-faq/databases", active_if: %r{^/paas/paas-faq/databases}%></li>
			<li><%= nav_link "Database Backups", "/paas/paas-faq/database-backups", active_if: %r{^/paas/paas-faq/database-backups}%></li>
			<li><%= nav_link "Domains", "/paas/paas-faq/domains", active_if: %r{^/paas/paas-faq/domains}%></li>
			<li><%= nav_link "High Availability", "/paas/paas-faq/high-availability", active_if: %r{^/paas/paas-faq/high-availability}%></li>
			<li><%= nav_link "Local Testing", "/paas/paas-faq/local-testing", active_if: %r{^/paas/paas-faq/local-testing}%></li>
			<li><%= nav_link "SSL", "/paas/paas-faq/ssl", active_if: %r{^/paas/paas-faq/ssl}%></li>
		</ul>
	</nav>
</div>
