<div class="col-4-12">
	<nav class="r_guide-nav">
		<h1>Contents:</h1>
		<ul id="nav">
			<li><%= nav_link 'Introduction', '/paas/getting-started' %></li>
			<li><%= nav_link 'Motivation', '/paas/getting-started/motivation', active_if: %r{^/paas/getting-started/motivation/}%></li>
			<li><%= nav_link 'Our Mission', '/paas/getting-started/our-mission', active_if: %r{^/paas/getting-started/our-mission/}%></li>
			<li><%= nav_link 'Enabling Technologies', '/paas/getting-started/enabling-technologies', active_if: %r{^/paas/getting-started/enabling-technologies/}%></li>
			<!-- -->
			<li>
				<%= nav_link 'The Catalyze PaaS Architecture', '/paas/getting-started/the-catalyze-paas-architecture', active_if: %r{^/paas/getting-started/the-catalyze-paas-architecture} %>
				<ul>
					<li><%= nav_link 'Nomenclature', '/paas/getting-started/deploying-your-first-app/nomenclature', active_if: %r{^/paas/getting-started/deploying-your-first-app/nomenclature/}%></li>
					<li><%= nav_link 'Supported Language Frameworks', '/paas/getting-started/deploying-your-first-app/supported-languages-frameworks', active_if: %r{^/paas/getting-started/deploying-your-first-app/supported-languages-frameworks/}%></li>
					<li><%= nav_link 'Supported Databases', '/paas/getting-started/deploying-your-first-app/supported-databases', active_if: %r{^/paas/getting-started/deploying-your-first-app/supported-databases/}%></li>
					<li><%= nav_link 'Supported Add-ons', '/paas/getting-started/deploying-your-first-app/supported-add-ons', active_if: %r{^/paas/getting-started/deploying-your-first-app/supported-add-ons/}%></li>
				</ul>
			</li>
			<!-- -->
			<li>
				<%= nav_link 'Deploying Your First App', '/paas/getting-started/deploying-your-first-app/', active_if: %r{^/paas/getting-started/deploying-your-first-app/} %>
				<ul>
					<li><%= nav_link 'Pre-requisites', '/paas/getting-started/deploying-your-first-app/pre-requisites', active_if: %r{^/paas/getting-started/deploying-your-first-app/pre-requisites/}%></li>
					<li><%= nav_link 'Account Registration', '/paas/getting-started/deploying-your-first-app/account-registration', active_if: %r{^/paas/getting-started/deploying-your-first-app/account-registration/}%></li>
					<li><%= nav_link 'Defining Connections', '/paas/getting-started/deploying-your-first-app/define-connections-between-your-containers', active_if: %r{^/paas/getting-started/deploying-your-first-app/define-connections-between-your-containers/}%>
					</li>
					<li>
						<%= nav_link 'Define Global Configurations', '/paas/getting-started/deploying-your-first-app/define-global-configurations', active_if: %r{^/paas/getting-started/deploying-your-first-app/define-global-configurations/} %>
						<ul>
							<li><%= nav_link 'Domain Names', '/paas/getting-started/deploying-your-first-app/domain-names', active_if: %r{^/paas/getting-started/deploying-your-first-app/domain-names/}%></li>
							<li><%= nav_link 'SSH Keys', '/paas/getting-started/deploying-your-first-app/ssh-keys', active_if: %r{^/paas/getting-started/deploying-your-first-app/ssh-keys/}%></li>
							<li><%= nav_link 'Environment Variables', '/paas/getting-started/deploying-your-first-app/environment-variables', active_if: %r{^/paas/getting-started/deploying-your-first-app/environment-variables/}%></li>
						</ul>
					</li>
					<li>
						<%= nav_link 'Review Your Settings', '/paas/getting-started/deploying-your-first-app/review-your-settings', active_if: %r{^/paas/getting-started/deploying-your-first-app/review-your-settings/}%>
						<ul>
							<li><%= nav_link 'Provisioning Your Environment', '/paas/getting-started/deploying-your-first-app/provisioning-your-environment', active_if: %r{^/paas/getting-started/deploying-your-first-app/provisioning-your-environment/}%></li>
						</ul>
					</li>
					<li><%= nav_link 'Deploying The App', '/paas/getting-started/deploying-your-first-app/deploying-the-app', active_if: %r{^/paas/getting-started/deploying-your-first-app/deploying-the-app/}%></li>
				</ul>
			</li>
			<!-- -->
			<li>
				<%= nav_link 'Accessing Your Environment', '/paas/getting-started/accessing-your-environment/', active_if: %r{^/paas/getting-started/accessing-your-environment/}%>
				<ul>
					<li><%= nav_link 'Accessing Your App', '/paas/getting-started/accessing-your-environment/accessing-your-app/', active_if: %r{^/paas/getting-started/accessing-your-environment/accessing-your-app/}%></li>
					<li><%= nav_link 'Accessing The Dashboard', '/paas/getting-started/accessing-your-environment/accessing-the-dashboard/', active_if: %r{^/paas/getting-started/accessing-your-environment/accessing-the-dashboard/}%></li>
					<li><%= nav_link 'Accessing Your Logging Environment', '/paas/getting-started/accessing-your-environment/accessing-your-logging-environment/', active_if: %r{^/paas/getting-started/accessing-your-environment/accessing-your-logging-environment/}%></li>
					<li><%= nav_link 'Accessing Monitoring', '/paas/getting-started/accessing-your-environment/accessing-monitoring/', active_if: %r{^/paas/getting-started/accessing-your-environment/accessing-monitoring/}%></li>
				</ul>
			</li>
			<!-- -->
			<li><%= nav_link 'Updating Your Environment', '/paas/getting-started/updating-your-environment', active_if: %r{^/paas/getting-started/updating-your-environment/}%></li>
			<li><%= nav_link 'The PaaS CLI', '/paas/getting-started/the-paas-cli', active_if: %r{^/paas/getting-started/the-paas-cli/}%></li>
		</ul>
	</nav>
</div>