<div class="col-4-12">
	<nav class="r_guide-nav">
		<h1>Contents:</h1>
		<ul>
			<!-- One -->
			<li><%= link_to 'Accessing Your Environment', '/paas/getting-started/accessing-your-environment/' %></li>
			<li><%= link_to 'Accessing Monitoring', '/paas/getting-started/accessing-your-environment/accessing-monitoring/' %></li>
			<li><%= link_to 'Accessing The Dashboard', '/paas/getting-started/accessing-your-environment/accessing-the-dashboard/' %></li>
			<li><%= link_to 'Accessing Your App', '/paas/getting-started/accessing-your-environment/accessing-your-app/' %></li>
			<li><%= link_to 'Accessing Your Logging Environment', '/paas/getting-started/accessing-your-environment/accessing-your-logging-environment/' %></li>
			<!-- Two -->
			<li><%= link_to 'Deploying Your First App', '/paas/getting-started/deploying-your-first-app/' %></li>
			<li><%= link_to 'Account Registration', '/paas/getting-started/deploying-your-first-app/account-registration' %></li>
			<li><%= link_to 'Defining Connections', '/paas/getting-started/deploying-your-first-app/define-connections-between-your-containers' %></li>
			<li><%= link_to 'Define Global Configurations', '/paas/getting-started/deploying-your-first-app/define-global-configurations' %></li>
			<li><%= link_to 'Define Services', '/paas/getting-started/deploying-your-first-app/define-services' %></li>
			<li><%= link_to 'Define Your Environment', '/paas/getting-started/deploying-your-first-app/define-your-environment' %></li>
			<li><%= link_to 'Deploying The App', '/paas/getting-started/deploying-your-first-app/deploying-the-app' %></li>
			<li><%= link_to 'Domain Names', '/paas/getting-started/deploying-your-first-app/domain-names' %></li>
			<li><%= link_to 'Environment Name', '/paas/getting-started/deploying-your-first-app/environment-name' %></li>
			<li><%= link_to 'Environment Variable', '/paas/getting-started/deploying-your-first-app/environment-variables' %></li>
			<li><%= link_to 'Nomenclature', '/paas/getting-started/deploying-your-first-app/nomenclature' %></li>
			<li><%= link_to 'Pre-requisites', '/paas/getting-started/deploying-your-first-app/pre-requisites' %></li>
			<li><%= link_to 'Provisioning Your Environment', '/paas/getting-started/deploying-your-first-app/provisioning-your-environment' %></li>
			<li><%= link_to 'Review Your Settings', '/paas/getting-started/deploying-your-first-app/review-your-settings' %></li>
			<li><%= link_to 'SSH Keys', '/paas/getting-started/deploying-your-first-app/ssh-keys' %></li>
			<li><%= link_to 'SSL Certificates', '/paas/getting-started/deploying-your-first-app/ssl-certificates' %></li>
			<li><%= link_to 'Supported Add-ons', '/paas/getting-started/deploying-your-first-app/supported-add-ons' %></li>
			<li><%= link_to 'Supported Databases', '/paas/getting-started/deploying-your-first-app/supported-databases' %></li>
			<li><%= link_to 'Supported Language Frameworks', '/paas/getting-started/deploying-your-first-app/supported-languages-frameworks' %></li>
			<!-- Three -->
			<li><%= link_to 'Enabling Technologies', '/paas/getting-started/enabling-technologies' %></li>
			<li><%= link_to 'HIPAA and HISTRUST Compliance Features', '/paas/getting-started/hipaa-histrust-compliance-features' %></li>
			<li><%= link_to 'Motivation', '/paas/getting-started/motivation' %></li>
			<li><%= link_to 'Our Mission', '/paas/getting-started/our-mission' %></li>
			<li><%= link_to 'The Catalyze PaaS Architecture', '/paas/getting-started/the-catalyze-paas-architecture' %></li>
			<li><%= link_to 'The PaaS CLI', '/paas/getting-started/the-paas-cli' %></li>
			<li><%= link_to 'Updating Your Environment', '/paas/getting-started/updating-your-environment' %></li>
		</ul>
	</nav>
</div>