		<div class="col-4-12">
			<nav class="r_guide-nav">
				<h1>Contents:</h1>
				<ul>
					<li><%= link_to 'Associate', '/paas/cli/sections/associate' %></li>
					<li><%= link_to 'Dashboard', '/paas/cli/sections/dashboard' %></li>
					<li><%= link_to 'Database Export', '/paas/cli/sections/db-export' %></li>
					<li><%= link_to 'Database Import', '/paas/cli/sections/db-import' %></li>
					<li><%= link_to 'Database', '/paas/cli/sections/db' %></li>
					<li><%= link_to 'Disassociate', '/paas/cli/sections/disassociate' %></li>
					<li><%= link_to 'Environments', '/paas/cli/sections/environments' %></li>
					<li><%= link_to 'Rake', '/paas/cli/sections/rake' %></li>
					<li><%= link_to 'Redeploy', '/paas/cli/sections/redeploy' %></li>
					<li><%= link_to 'Variables List', '/paas/cli/sections/vars-list' %></li>
					<li><%= link_to 'Variables Set', '/paas/cli/sections/vars-set' %></li>
					<li><%= link_to 'Variables Unset', '/paas/cli/sections/vars-unset' %></li>
					<li><%= link_to 'Variables', '/paas/cli/sections/associate' %></li>
					<li><%= link_to 'Version', '/paas/cli/sections/version' %></li>
					<li><%= link_to 'Worker', '/paas/cli/sections/worker' %></li>
				</ul>
			</nav>
		</div>