		<div class="col-4-12">
			<nav class="r_guide-nav">
				<h1>Contents:</h1>
				<ul id="nav">
					<li><%= nav_link 'Introduction', '/paas/cli/' %></li>
					<li><%= nav_link 'Associate', '/paas/cli/sections/associate', active_if: %r{^/paas/cli/sections/associate}%></li>
					<li><%= nav_link 'Dashboard', '/paas/cli/sections/dashboard', active_if: %r{^/paas/cli/sections/dashboard}%></li>
					<li><%= nav_link 'Disassociate', '/paas/cli/sections/disassociate', active_if: %r{^/paas/cli/sections/disassociate}%></li>
					<li><%= nav_link 'Environments', '/paas/cli/sections/environments', active_if: %r{^/paas/cli/sections/environments}%></li>
					<li><%= nav_link 'Rake', '/paas/cli/sections/rake', active_if: %r{^/paas/cli/sections/rake}%></li>
					<li><%= nav_link 'Redeploy', '/paas/cli/sections/redeploy', active_if: %r{^/paas/cli/sections/redeploy}%></li>
					<li>
						<%= nav_link 'Variables', '/paas/cli/sections/vars', active_if: %r{^/paas/cli/sections/vars}%>
						<ul>
							<li><%= nav_link 'Variables List', '/paas/cli/sections/vars-list', active_if: %r{^/paas/cli/sections/vars-list}%></li>
							<li><%= nav_link 'Variables Set', '/paas/cli/sections/vars-set', active_if: %r{^/paas/cli/sections/vars-set}%></li>
							<li><%= nav_link 'Variables Unset', '/paas/cli/sections/vars-unset', active_if: %r{^/paas/cli/sections/vars-unset}%></li>
						</ul>
					</li>
					<li><%= nav_link 'Version', '/paas/cli/sections/version', active_if: %r{^/paas/cli/sections/version}%></li>
				</ul>
			</nav>
		</div>