---
title: PaaS Guides
---
<%= partial "sections/header_index" %>
<div>
	<h1>Articles List 2</h1>
	<ol>
	<% blog.articles[0...10].each do |article| %>
		<li><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></li>
	<% end %>
	</ol>
</div>
<div class="grid">
	<section class="r_submod-masthead">
		<h1><i class="fa fa-bookmark-o"></i> PaaS CLI Reference</h1>
	</section>
	<section class="r_guide-section">
		<div class="col-4-12">
			<nav class="r_guide-nav">
				<h1>Contents:</h1>
				<ul>
					<li><a href="#" class="r_is-selected">Environment Variables</a></li>
					<li><a href="#">Connections</a></li>
					<li><a href="#">SSH Keys</a></li>
					<li><a href="#">SSL Certificate</a></li>
					<li><a href="#">Create and Environment</a></li>
					<li><a href="#">Redeploy</a></li>
					<li><a href="#">Delete and Environment</a></li>
					<li><a href="#">Logging</a></li>
					<li><a href="#">Monitoring</a></li>
				</ul>
			</nav>
		</div>
		<div class="col-8-12">
			<div class="r_guide-content">
				<form class="r_guide-search">
					<div class="r_input-wrapper">
						<label for="guideSearch">Search:</label>
						<input type="text" name="guideSearch" placeholder="Select a filter on the left">
						<span><i class="fa fa-search"></i></span>
					</div>
				</form>
				<article class="r_guide-block">
					<h1><a href="#">Manage Connections <i class="fa fa-caret-right"></i></a></h1>
					<p>This is a description explaining how Catalyze allows a user to manage their connections per environment</p>
				</article>
				<article class="r_guide-block">
					<h1><a href="#">Manage Connections <i class="fa fa-caret-right"></i></a></h1>
					<p>This is a description explaining how Catalyze allows a user to manage their connections per environment</p>
				</article>
				<article class="r_guide-block">
					<h1><a href="#">Manage Connections <i class="fa fa-caret-right"></i></a></h1>
					<p>This is a description explaining how Catalyze allows a user to manage their connections per environment</p>
				</article>
				<article class="r_guide-block">
					<h1><a href="#">Manage Connections <i class="fa fa-caret-right"></i></a></h1>
					<p>This is a description explaining how Catalyze allows a user to manage their connections per environment</p>
				</article>
				<article class="r_guide-block">
					<h1><a href="#">Manage Connections <i class="fa fa-caret-right"></i></a></h1>
					<p>This is a description explaining how Catalyze allows a user to manage their connections per environment</p>
				</article>
			</div>
		</div>
	</section>
</div>
<%= partial "sections/marketing" %>
<%= partial "sections/footer" %>