<li><%= nav_link 'Overview', '/paas/cli/' %></li>
<li><%= nav_link 'Associate', '/paas/cli/sections/associate', active_if: %r{^/paas/cli/sections/associate}%></li>
<li><%= nav_link 'Associated', '/paas/cli/sections/associated', active_if: %r{^/paas/cli/sections/associated}%></li>
<li><%= nav_link 'Console', '/paas/cli/sections/console', active_if: %r{^/paas/cli/sections/console}%></li>
<li><%= nav_link 'Dashboard', '/paas/cli/sections/dashboard', active_if: %r{^/paas/cli/sections/dashboard}%></li>
<li><%= nav_link 'Db', '/paas/cli/sections/db', active_if: %r{^/paas/cli/sections/db}%><ul>
	<li><%= nav_link 'Backup', '/paas/cli/sections/db-backup', active_if: %r{^/paas/cli/sections/db-backup}%>
	<li><%= nav_link 'Download', '/paas/cli/sections/db-download', active_if: %r{^/paas/cli/sections/db-download}%>
	<li><%= nav_link 'Export', '/paas/cli/sections/db-export', active_if: %r{^/paas/cli/sections/db-export}%>
	<li><%= nav_link 'Import', '/paas/cli/sections/db-import', active_if: %r{^/paas/cli/sections/db-import}%>
</ul></li>
<li><%= nav_link 'Default', '/paas/cli/sections/default', active_if: %r{^/paas/cli/sections/default}%></li>
<li><%= nav_link 'Disassociate', '/paas/cli/sections/disassociate', active_if: %r{^/paas/cli/sections/disassociate}%></li>
<li><%= nav_link 'Environments', '/paas/cli/sections/environments', active_if: %r{^/paas/cli/sections/environments}%></li>
<li><%= nav_link 'Invites', '/paas/cli/sections/invites', active_if: %r{^/paas/cli/sections/invites}%></li>
	<li><%= nav_link 'List', '/paas/cli/sections/invites-list', active_if: %r{^/paas/cli/sections/invites-list}%>
	<li><%= nav_link 'Rm', '/paas/cli/sections/invites-rm', active_if: %r{^/paas/cli/sections/invites-rm}%>
	<li><%= nav_link 'Send', '/paas/cli/sections/invites-send', active_if: %r{^/paas/cli/sections/invites-send}%>
<li><%= nav_link 'Logout', '/paas/cli/sections/logout', active_if: %r{^/paas/cli/sections/logout}%></li>
<li><%= nav_link 'Logs', '/paas/cli/sections/logs', active_if: %r{^/paas/cli/sections/logs}%></li>
<li><%= nav_link 'Metrics', '/paas/cli/sections/metrics', active_if: %r{^/paas/cli/sections/metrics}%></li>
<li><%= nav_link 'Rake', '/paas/cli/sections/rake', active_if: %r{^/paas/cli/sections/rake}%></li>
<li><%= nav_link 'Redeploy', '/paas/cli/sections/redeploy', active_if: %r{^/paas/cli/sections/redeploy}%></li>
<li><%= nav_link 'SSL', '/paas/cli/sections/ssl', active_if: %r{^/paas/cli/sections/ssl}%></li>
	<li><%= nav_link 'Verify', '/paas/cli/sections/ssl-verify', active_if: %r{^/paas/cli/sections/ssl-verify}%>
<li><%= nav_link 'Status', '/paas/cli/sections/status', active_if: %r{^/paas/cli/sections/status}%></li>
<li><%= nav_link 'Support-ids', '/paas/cli/sections/support-ids', active_if: %r{^/paas/cli/sections/support-ids}%></li>
<li><%= nav_link 'Update', '/paas/cli/sections/update', active_if: %r{^/paas/cli/sections/update}%></li>
<li><%= nav_link 'Users', '/paas/cli/sections/users', active_if: %r{^/paas/cli/sections/users}%></li>
	<li><%= nav_link 'Add', '/paas/cli/sections/users-add', active_if: %r{^/paas/cli/sections/users-add}%>
	<li><%= nav_link 'List', '/paas/cli/sections/users-list', active_if: %r{^/paas/cli/sections/users-list}%>
	<li><%= nav_link 'Rm', '/paas/cli/sections/users-rm', active_if: %r{^/paas/cli/sections/users-rm}%>
<li><%= nav_link 'Vars', '/paas/cli/sections/vars', active_if: %r{^/paas/cli/sections/vars}%><ul>
	<li><%= nav_link 'List', '/paas/cli/sections/vars-list', active_if: %r{^/paas/cli/sections/vars-list}%>
	<li><%= nav_link 'Set', '/paas/cli/sections/vars-set', active_if: %r{^/paas/cli/sections/vars-set}%>
	<li><%= nav_link 'Unset', '/paas/cli/sections/vars-unset', active_if: %r{^/paas/cli/sections/vars-unset}%>
</ul></li>
<li><%= nav_link 'Version', '/paas/cli/sections/version', active_if: %r{^/paas/cli/sections/version}%></li>
<li><%= nav_link 'Whoami', '/paas/cli/sections/whoami', active_if: %r{^/paas/cli/sections/whoami}%></li>
<li><%= nav_link 'Worker', '/paas/cli/sections/worker', active_if: %r{^/paas/cli/sections/worker}%></li>
