---
title: Resources Home
---
<%= partial "sections/header" %>
<div class="grid">
	<!-- FAQ Section -->
	<header class="front-header">
		<div class="col-6-12">
			<h1>Catalyze Knowledge Base</h1>
		</div>
		<div class="col-6-12">
			<div class="front-search">
				<input type="text" id="st-search-input" name="globalSearch" placeholder="Search all resources...">
				<span><i class="ss-search"></i></span>
			</div>
		</div>
	</header>
	<!-- FAQs Section -->
	<%= partial "sections/homepage/faqs" %>
	<div class="front-twoup">
		<div class="col-6-12">
			<!-- Starters Section -->
			<%= partial "sections/homepage/starters" %>
		</div>
		<div class="col-6-12">
			<!-- Docs Section -->
			<%= partial "sections/homepage/docs" %>
		</div>
	</div>
	<!-- Guides Section -->
	<%= partial "sections/homepage/guides" %>
</div>
<%= partial "sections/marketing" %>
<%= partial "sections/footer" %>
