<%= partial "sections/head" %>
<%= partial "sections/header" %>
<div class="grid">
	<div class="col-1-1">
		<div class="r_source-tree">
			<article class="r_guide-block">
				<h1>BaaS Pages</h1>
				<% sitemap.resources.each do |page| %>
					<% if page.url =~ /^(\/baas\/)/ %>
					<ul>
						<li><%= link_to page.data.title, page.url %> - <%= page.url %></li>
					</ul>
					<% end %>
				<% end %>
			</article>
		</div>
	</div>
	<div class="col-1-1">
		<div class="r_source-tree">
			<article class="r_guide-block">
				<h1>PaaS Pages</h1>
				<% sitemap.resources.each do |page| %>
					<% if page.url =~ /^(\/paas\/)/ %>
					<ul>
						<li><%= link_to page.data.title, page.url %> - <%= page.url %></li>
					</ul>
					<% end %>
				<% end %>
			</article>
		</div>
	</div>
	<div class="col-1-1">
		<div class="r_source-tree">
			<article class="r_guide-block">
				<h1>Path: <%= current_page.path %></h1>
				<% if current_page.parent %>
				<ul>
					<li>Parent: <%= current_page.parent.path %></li>
				</ul>
				<% end %>
				<% current_page.children.each do |p| %>
				<ul>
					<li>Child: <%= p.path %></li>
				</ul>
				<% end %>
				<% current_page.siblings.each do |p| %>
				<ul>
					<li>Sibling: <%= p.path %></li>
				</ul>
				<% end %>
				<% current_page.children.each do |p| %>
				<ul>
					<% if p.data %>
						<li>Data: <%= p.data %></li>
					<% end %>
				</ul>
				<% end %>
		</article>
	</div>
</div>